*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  /* background-color: black; */
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
nav input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-group-left {
  display: flex;
  gap: 1rem;
}
nav ul {
  display: flex;
  gap: 1rem;
}
nav img {
  width: 16%;
  min-width: 16rem;
}

nav figure {
  display: inline;
  width: 16%;
  min-width: 16rem;
}
nav figcaption {
  display: none;
}

nav svg {
  width: 2%;
  min-width: 2rem;
  margin-left: 2rem;
}

main {
  padding: 1rem 1.5rem;
}
